<article class="card mb-3 shadow-sm">
  <div class="card-body">
    <div class="card-title">
      <h2 class="h4 mb-3">{{museum.name}}</h2>
    </div>

    <div class="">
      <!-- PHOTO -->
    </div>
    <!-- Localisation -->
    <div class="row mb-2">
      <div class="col-1">
        📍
      </div>
      <div class="col-10">
        <p class="card-text">
          <!--{{adress}}<br>
          {{zip}}--> {{museum.city | titlecase}}
        </p>
      </div>
    </div>
    <!-- Phone -->
    <!-- <div class="row mb-2">
      <div class="col-1">
        📞
      </div>
      <div class="col-10">
        <p class="card-text"><a href="tel:{{telephone}}">{{telephone}}</a></p>
      </div>
    </div> -->
    <!-- Website -->
    <!-- <div class="row mb-2">
      <div class="col-1">
        💻
      </div>
      <div class="col-10">
        <p class="card-text">
          <a href="https://{{website}}" target="blank">{{website}}</a>
        </p>
      </div>
    </div> -->
    <!-- Opening hours -->
    <!-- <div class="row mb-2">
      <div class="col-1">
        🕒
      </div>
      <div class="col-10">
        <p class="card-text">{{opening}}</p>
      </div>
    </div> -->
    <!-- View detail -->
    <div class="row mb-2">
      <div class="col-1">
        ➕
      </div>
      <div class="col-10">
        <p class="card-text"><a [routerLink]="['museumDetail/',museum._id]">View details</a></p>
      </div>
    </div>

  </div>
</article>
